
{% extends 'gestruc/base.html' %}


{% block content %}

    <h2>LES COLONIES</h2>

        <div class="table-responsive-md">
            <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Code ruche</th>
                    <th>Type ruche</th>
                    <th>Date MES</th>
                    <th>Statut BIO/NP</th>
                  </tr>
                </thead>



                <tbody>

                {% for R in ruches %}

                  <tr>
                    <td><a href="{% url 'gestruc:ruche_detail' R.id %}"> {{R.id}} </button></a></td>
                    <td><a href="{% url 'gestruc:ruche_detail' R.id %}">{{ R.code_ruche}}</a></td>
                    <td>{{ R.type_ruche }}</td>
                    <td>{{ R.date_mes }}</td>
                    <td>{{ R.statut_bio }}</td>
                    <td><a href="{% url 'gestruc:ruche_edit' R.id %}"><button type="button" class="btn btn-primary mb-2">MODIFIER</button></a></td> -->
                  </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>

<a href="{% url 'gestruc:ruchers_list' %}"> Retour </a>




{% endblock %}



