{% extends 'gestruc/base.html' %}

{% block content %}

  <h2>DETAIL D'UNE COLONIES</h2>

  <form method="get">

	  {{ form.as_table }}


      <button type="submit">Enregistrer</button>
    <a href="{% url 'gestruc:colonies' %}">Ignorer</a>


    </form>



{% endblock %}
