
{% extends 'gestruc/base.html' %}

{% block content %}

<h2>liste des nourrissements : </h2><br>

  {% if nourr|length_is:"0" %}
    <div class="test-center">
      Nous ne trouvons aucun résultat à cette requête, veuillez essayer de nouveau avec d'autres paramètres de recherche.
    </div>

{% else %}

    <ul>
        {% for N in nourr %}
	<li>
		<a href="{% url 'gestruc:nour_update' N.id %}">

		  {{ N.id }}  {{N.datenourr }}  {{N.natnour}} {{N.typnour}}
{{N.rucher}}

 </a>
	

         </li>
        {% endfor %}
    </ul>

{% endif %}

	<a href="{% url 'gestruc:interventions' %}">retour</a>





{% endblock %}
