{% extends 'gestruc/base.html' %}

{% block content %}


    <h2>Nom Rucher : {{rucher.nom_rucher}}</h2>
    <h3>Code Rucher : {{rucher.code_rucher}}</h3>
    <p>Departement : {{rucher.dept}}</p>
    <p>Commune : {{rucher.commune}}</p>
    <p>Lieu-dit : {{rucher.lieudit}}</p>
    <p>statut_rucher : {{rucher.statut_rucher}}</p>
    <p>bio : {{rucher.bio}}</p>



{% endblock %}
