
{% extends 'gestruc/base.html' %}

{% block content %}



<h2>liste des affectations ruchers - ruches - colonies en cours ...: </h2><br>

  {% if afflist|length_is:"0" %}
    <div class="test-center">
      Nous ne trouvons aucun résultat à cette requête, veuillez essayer de nouveau avec d'autres paramètres de recherche.
    </div>

  {% else %}
    <b>
      <div class="table-responsive-md">
        <div style="height: 600px;overflow: scroll;">
           <table class="table table-striped table-light">
                  <thead class=table-dark>
                    <tr>
                      <th>Id</th>
                      <th>Rucher</th>
                      <th>Ruche</th>
                      <th>Colonie</th>
                      <th>Début</th>
                      <th>Fin</th>
                    </tr>
                  </thead>


                  <tbody>

                  {% for aff in afflist %}
                    <tr>
                      <td><a href="{% url 'gestruc:aff_ruruchcol_detail' aff.id %}">{{ aff.id}}</a></td>
                      <td><a href="{% url 'gestruc:rucher_detail' aff.rucher_id %}">{{ aff.rucher}}</a></td>
                      <td><a href="{% url 'gestruc:ruche_detail' aff.ruche_id %}">{{ aff.ruche}}</a></td>
                      <td><a href="{% url 'gestruc:colonies_detail' aff.colonie_id %}">{{ aff.colonie}}</a></td>
                      <td>{{ aff.debut }}</td>
                      <td><a href="{% url 'gestruc:aff_fin' aff.id %}">Mettre FIN</a></td>
                    </tr>

                    {% endfor %}

                  </tbody>
           </table>
        </div>
      </div>

      </b>

      <nav>
        <ul class="nav justify-content-center">
          <li class="nav-item lead"><a class="nav-link" href="{% url 'gestruc:aff_hist'%}"><button type="button" class="btn btn-dark btn-sm">Historique des affectations</button></a></li>
          <li class="nav-item lead"><a class="nav-link" href="{% url 'gestruc:aff_ruruchcol_add' %}"><button type="button" class="btn btn-dark btn-sm">Nouvelle affectation</button></a></li>
          <li class="nav-item lead"><a class="nav-link" href="{% url 'gestruc:ruchers_list' %}"><button type="button" class="btn btn-dark btn-sm">Liste des ruchers</button></a></li>
        </ul>
      </nav>

  {% endif %}

{% endblock %}



