
{% extends 'gestruc/base.html' %}

{% block content %}

<H1>Création d'une affectation rucher - ruche - colonie </H1>


<form action="{% url 'gestruc:aff_ruruchcol_add' %}" method="post">{% csrf_token %}

       {{ form.as_p }}

   <!--  <p>
        <label for= "id_ruchvid"> Ruche vide :</label>
        <input type = "checkbox" id="chkbox">
    </p>

    <P>Colonie : {{Ruruchcol.colonie}}
        <select  id="slctbox"/>
    </P>

    <script type="text/javascript">
        $("#slctbox").change(function() {
        if($("#slctbox").is(":checked")) {
        $("#sbox").val("no");
        } else {
        $("#slctbox").val("yes");
        }
        });
    </script>
 -->

    <input type="submit" value="Valider" />
    <a href="{% url 'gestruc:aff_list' %}"> <b> Annuler </b></a>


{% endblock %}
