



{% extends 'gestruc/base.html' %}

{% block content %}

<form method="post">{% csrf_token %}
    <h2>Etes-vous sûr de vouloir supprimer l'affectation "{{ object }}" et toutes les données associées ?</h2>
    <input type="submit" value="Confirmer">
</form>



{% endblock %}
