<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit="no">

    {% load static %}

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href=https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'gestruc/css/test.css' %}" />

       <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if gestrucyou view the page via file:// -->
    <!--[if lt IE 9]>truc
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libgestrucs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% load bootstrap4 %}       {# import bootstrap4 #}
    {% bootstrap_css %}         {# Embed Bootstrap CSS #}
    {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
    {{ form.media }}            {# Adds date-picker required JS and CSS #}



</head>




<body>

  <!--   <div class="brand"><a href="{% url 'gestruc:index' %}">RUCHER & MIELLERIE</a></div>
    <div class="address-bar">la gestion du rucher et de la miellerie par e-Ingeco</div>
 -->
    <!-- Navigation -->

    <div class="container-fluid">


        <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
            <a class="navbar-brand" href="{% url 'gestruc:index' %}">RUCHER & MIELLERIE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">


                    <li class="nav-item"><a class="nav-link" href="{% url 'gestruc:index' %}">Environnement</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'gestruc:ruchers_list' %}">Rucher</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'gestruc:visites' %}">visites/interventions</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'gestruc:miellerie' %}">miellerie</a></li>
                    <li class="nav-item dropdown">

                       <!--  <a data-toggle="dropdown"><span class="badge badge-secondary">Passez sur moi !</span></a> -->

                        <h6 class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">PARAMS</h6>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'gestruc:partenaires_list' %}"> Opérateurs</a>
                                <a class="dropdown-item" href="#">Unités</a>
                                <a class="dropdown-item" href="#">Partenaires</a>
                            </div>
                    </li>

              </ul>
            <!--   <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button
              </form> -->
            </div>

            <script>
              $("h6").mouseover(function() {
                $(this).dropdown('toggle')
              })
            </script>
        </nav>


    </div>




    <div class="container">
        <div class="row">
            <div class="box">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>

<!--

    <div class="container">
        <div class="row">
            <div class="box">
                {% block content1 %}

                {% endblock %}
            </div>
        </div>
    </div>
-->



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyleft CC BY NC</p>
                </div>
            </div>
        </div>
    </footer>


</body>


</html>
