{% extends 'gestruc/base.html' %}

{% block content %}

<H1> Detail d'une colonie </H1>

<form method="get">
  {% csrf_token %}

     {{ form.as_table }}

<H3>Historique des ruches/ruchers occupés:</H3>

  <ul>
    {% for r in ruchcol %}
        <li>
          <a href="{% url 'gestruc:ruche_detail' r.ruche_id %}">{{ r.ruche }}
          </a>

          <a href="{% url 'gestruc:rucher_detail' r.rucher_id %}">{{ r.rucher }}
          </a>
          ---{{ r.debut }} >>{{ r.fin }}
        </li>
    {% endfor %}

</form>

<nav>
        <ul class="nav justify-content-center">
          <li class="nav-item lead"><a class="nav-link" href="{% url 'gestruc:colonies' %}"><button type="button" class="btn btn-success btn-sm">Retour...</button></a></li>
          <li class="nav-item lead"><a class="nav-link" href="{% url 'gestruc:ruchers_list' %}"><button type="button" class="btn btn-dark btn-sm">RUCHERS</button></a></li>
          <li class="nav-item lead"><a class="nav-link" href="{% url 'gestruc:aff_list' %}"><button type="button" class="btn btn-dark btn-sm">AFFECTATIONS</button></a></li>
        </ul>
      </nav>

<!--<nav id="MenuChoix">
    <ul>
        <li><a href="{% url 'gestruc:ruchers_list' %}"> Retour à la liste des ruchers</a></li>
        <li><a href="{% url 'gestruc:aff_list' %}"> Retour à la liste des affectations </a></li>
    </ul>
</nav>-->


{% endblock %}
