{% extends 'gestruc/base.html' %}

{% block content %}

  <h2>CRREATION D'UNE COLONIE</h2>

  <form method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Enregistrer</button>
    <a href="{% url 'gestruc:colonies' %}">Ignorer</a>


  </form>



{% endblock %}
