
{% extends 'gestruc/base.html' %}


{% block content %}
    <h2>LES COLONIES</h2>

        <div class="table-responsive-md">
          <div style="height: 600px;overflow: scroll;">
            <table class="table table-striped table-light">

               <thead class="table-dark">
                  <tr>
                    <th>Id</th>
                    <th>Code Colonie</th>
                    <th>Année reine</th>
                    <th>Phenotype</th>
                    <th>Issue de</th>
                    <th>Existante</th>
                    <th>Modifier</th>
                  </tr>
                </thead>

                <tbody>

            {% for C in colonies %}
                  <tr>
                    <td><a href="{% url 'gestruc:colonies_detail' C.id %}"> {{C.id}}</a></td>
                    <td><a href="{% url 'gestruc:colonies_detail' C.id %}">{{ C.code_col}}</a></td>
                    <td>{{C.annee_reine}}</td>
                    <td>{{C.phenotype}}</td>
                    <td>{{C.issu_de}}</td>
                    <td>{{C.existante}}</td>
                    <td><a href="{% url 'gestruc:colonies_edit' C.id %}"><button type="button" class="btn btn-secondary btn-sm">MODIFIER</button></a>
                  </tr>

            {% endfor %}

                </tbody>
            </table>
          </div>
        </div>

<!--

<a href="{% url 'gestruc:colonie_add' %}"><button type="button" class="btn btn-success mb-2">Créer colonie</button> </a>
<a href="{% url 'gestruc:ruchers_list' %}"><button type="button" class="btn btn-secondary mb-2">Retour</button> </a>
-->
      <nav>
        <ul class="nav justify-content-center">
          <li class="nav-item lead"><a class="nav-link" href="{% url 'gestruc:colonie_add' %}"><button type="button" class="btn btn-dark btn-sm">Créer colonie</button></a></li>
          <li class="nav-item lead"><a class="nav-link" href="{% url 'gestruc:ruchers_list' %}"><button type="button" class="btn btn-dark btn-sm">Retour</button></a></li>
        </ul>
      </nav>

{% endblock %}

{% block content1 %}



{% endblock %}



