{% extends 'gestruc/base.html' %}


{% block content %}

  <h3 >les dernières visites réalisées </h3>
        {% if visites|length_is:"0" %}
            <div class="test-center">
              <b> Aucune visite enregistrée </b>
            </div>


        {% else %}

<!--            <ul>-->
<!--                {% for v in visites %}-->
<!--                  <li>-->
<!--                      <a href="{% url 'gestruc:visite_detail' v.id %}"> {{ v.id }}  -  {{ v.datevis }}  {{v.rucher}}-->
<!--                      </a>-->
<!--                  </li>-->
<!--                {% endfor %}-->
<!--            </ul>-->


          <div class="table-responsive-md">
               <table class="table table-striped table-light">
                      <thead class=thead-dark>
                        <tr>
                          <th>#</th>
                          <th>Date visite</th>
                          <th>Code visite</th>
                          <th>Rucher</th>
                          <th>Motif Vis.</th>
                        </tr>
                      </thead>


                      <tbody>

                      {% for v in visites %}
                        <tr>
                          <td><a href="{% url 'gestruc:visite_detail' v.id %}">{{ v.id}}</a></td>
                          <td>{{ v.datevis}}</td>
                          <td><a href="{% url 'gestruc:visite_detail' v.id %}">{{ v.ide_visit}}</a></td>
                          <td>{{ v.rucher}}</td>
                          <td>{{ v.motif_visite}}</td>

                        </tr>

                      {% endfor %}

                        </tbody>
               </table>

          </div>

        {% endif %}

  <h3 >les prochaines visites programmées </h3>

  {% if visprog|length_is:"0" %}
    <div class="test-center">
      Aucune action programmée
    </div>

  {% else %}

          <div class="table-responsive-md">
               <table class="table table-striped table-light">
                      <thead class=thead-dark>
                        <tr>
                          <th>Visit init.</th>
                          <th>Date</th>
                          <th>Rucher</th>
                          <th>Action prog.</th>
                          <th>Commentaire</th>
                        </tr>
                      </thead>


                      <tbody>

                      {% for vp in visprog %}
                        <tr>
                          <td><a href="{% url 'gestruc:visite_detail' vp.id %}">{{ vp.id}}</a></td>
                          <td>{{ vp.dateprog}}</td>
                          <td>{{ vp.rucher}}</td>
                          <td>{{ vp.actionprog}}</td>
                          <td>{{ vp.commentaire}}</td>
                        </tr>

                      {% endfor %}

                        </tbody>
               </table>

          </div>

{% endif %}


{% endblock %}




