
{% extends 'gestruc/base.html' %}

{% block content %}

<class="intro-text text-center"><h1>Choix d'une INTERVENTIONS</h1>

  <nav id="MenuChoix">
    <ul>
        <li><a href={% url 'gestruc:nour_list'%}>Nourrissement<a/></li>
        <li><a href={% url 'gestruc:essaim'%}>Essaims<a/></li>
        <li><a href={% url 'gestruc:mvt_cadres'%}>Mouvements de cadres<a/></li>
        <li><a href={% url 'gestruc:varroa'%}>Lutte Varroa<a/></li>
        <li><a href={% url 'gestruc:recolte'%}>Récolte<a/></li>
    </ul>
  </nav>


{% endblock %}
