{% extends "gestruc/base.html" %}

{% block content %}
    <h2>Nourrissements</h2>

    {% if nourr|length_is:"0" %}
    <div class="test-center">
      Nous ne trouvons aucun résultat à cette requête, veuillez essayer de nouveau avec d'autres paramètres de recherche.
    </div>

    {% else %}

       <div class="table-responsive-md">
               <table class="table table-striped table-light">
                      <thead class=thead-dark>
                        <tr>
                          <th>#</th>
                          <th>Date</th>
                          <th>Rucher</th>
                          <th>Type nourr.</th>
                          <th>Nature nourr.</th>
                        </tr>
                      </thead>


                      <tbody>

                      {% for N in nourr %}
                        <tr>
                          <td><a href="{% url 'gestruc:nour_detail' N.id %}">{{ N.id}}</a></td>
                          <td>{{N.datenourr }}</td>
                          <td>{{N.rucher}}</td>
                          <td>{{N.typnour}}</td>
                          <td>{{N.natnour}}</td>
                        </tr>

                      {% endfor %}

                        </tbody>
               </table>

          </div>



    {% endif %}

      <nav>
        <ul class="nav justify-content-center">
          <li class="nav-item lead"><a class="nav-link" href="{% url 'gestruc:nour_add' %}"><button type="button" class="btn btn-dark btn-sm">Nouveau nourrissement</button></a></li>
          <li class="nav-item lead"><a class="nav-link" href="{% url 'gestruc:interventions' %}"><button type="button" class="btn btn-dark btn-sm">Retour</button></a></li>
        </ul>
      </nav>





   {% endblock %}
