{% extends 'gestruc/base.html' %}

{% block content %}

  <h2>formulaire PARTENAIRES</h2>

  <form method="post" id="partenaireForm" data-codepostal-url="{% url 'gestruc:ajax_load_codepostal' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Enregistrer</button>
    <a href="{% url 'gestruc:partenaires_list' %}">Ignorer</a>
  </form>

 <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='js/select2.min.js' type='text/javascript'></script>
    <link href='css/select2.min.css' rel='stylesheet' type='text/css'>

    <select id='selCom' style='width: 200px;'>
            <option value=" ">---------</option>
            {% for com in commcp %}
            <option value="{{ com.pk }}">{{ com.nom_com_m }} - {{ com.cod_post}}</option>
            {% endfor %}
    </select>

    <input type='button' value='Selected option' id='but_read'>

    <br/>
    <div id='result'></div>





  <script>
        $(document).ready(function(){

            // Initialize select2
            $("#selCom").select2();

            // Read selected option
            $('#but_read').click(function(){
                var comname = $('#selCom option:selected').text();
                var comid = $('#selCom').val();

                $('#result').html("id : " + comid + ", name : " + comname);
            });
        });
  </script>
 -->
{% endblock %}

