{% extends 'gestruc/base.html' %}

{% block content %}


<form method="get">


    {{ form.as_p }}

<H3>Nombre de ruches: {{nbruc}}</H3>

<H3>Liste des ruches / colonies:</H3>

    <ul>
      {% for r in ruchcol %}
          <li>
            <a href="{% url 'gestruc:ruche_detail' r.ruche_id %}">{{ r.ruche }}
            </a>
             ---
             <a href="{% url 'gestruc:colonies_detail' r.colonie_id %}">{{ r.colonie }}
            </a>
            ---  {{ r.debut }}

          </li>
      {% endfor %}
    </ul>




</form>


<nav id="MenuChoix">
    <ul>
        <li><a href="{% url "gestruc:index" %}">ACCUEIL</a>

       <!--  <li><a href="./edit">{{ MODIFIER }}</a></li> -->
        <li><a href="{% url 'gestruc:ruchers_list' %}"> Retour à la liste des ruchers</a></li>
        <li><a href="{% url 'gestruc:aff_list' %}"> Retour à la liste des affectations </a></li>
    </ul>
</nav>




{% endblock %}
