
{% extends 'gestruc/base.html' %}

{% block content %}

<h2>liste des ruchers : </h2><br>

  {% if ruchers|length_is:"0" %}
    <div class="test-center">
      Nous ne trouvons aucun résultat à cette requête, veuillez essayer de nouveau avec d'autres paramètres de recherche.
    </div>

{% else %}

       <div class="table-responsive-md">
             <table class="table table-striped table-light">
                    <thead class="table-dark table-justify">
                      <tr>
                        <th>Id</th>
                        <th>Rucher</th>
                        <th>Code</th>
                        <th>Statut</th>
                        <th>Modifier</th>
                      </tr>
                    </thead>



                    <tbody>

                    {% for r in ruchers %}

                      <tr>
                        <td>{{ r.id}}</td>
                        <td><a href="{% url 'gestruc:rucher_detail' r.id %}">{{ r.nom_rucher}}</button></a></td>
                        <td><a href="{% url 'gestruc:rucher_detail' r.id %}">{{ r.code_rucher }}</a></td>
                        <td>{{ r.statut_rucher }}</td>
                        <td><a href="{% url 'gestruc:rucher_update' r.id %}"><button type="button" class="btn btn-secondary btn-sm">MODIFIER</button></a>
                      </tr>

                    {% endfor %}

                    </tbody>
            </table>
      </div>



{% endif %}

      <nav>
        <ul class="nav justify-content-center">
          <li class="nav-item lead"><a class="nav-link" href="{% url 'gestruc:aff_list' %}"><button type="button" class="btn btn-dark btn-sm">AFFECTATIONS</button></a></li>
          <li class="nav-item lead"><a class="nav-link" href="{% url 'gestruc:rucher_add' %}"><button type="button" class="btn btn-dark btn-sm">Nouveau rucher</button></a></li>
          <li class="nav-item lead"><a class="nav-link" href="{% url 'gestruc:colonies' %}" ><button type="button" class="btn btn-dark btn-sm">Les colonies </button></a></li>
          <li class="nav-item lead"><a class="nav-link " href="{% url 'gestruc:ruches' %}"><button type="button" class="btn btn-dark btn-sm"> Les ruches</button></a></li>
        </ul>
      </nav>



{% endblock %}

{% block content1 %}

{% endblock %}
