
{% extends 'gestruc/base.html' %}


{% block content %}
    <h2>LES RUCHES</h2>

        <div class="table-responsive-md">
          <div style="height: 600px;overflow: scroll;">
            <table class="table table-striped table-light">

               <thead class="table-dark" >
                  <tr>
                    <th>Id</th>
                    <th>Code ruche</th>
                    <th>Type ruche</th>
                    <th>Date MES</th>
                    <th>Statut BIO/NP</th>
                    <th>Modifier</th>
                  </tr>
                </thead>

                <tbody>

                {% for R in ruches %}

                  <tr>
                    <td><a href="{% url 'gestruc:ruche_detail' R.id %}"> {{R.id}} </a></td>
                    <td><a href="{% url 'gestruc:ruche_detail' R.id %}">{{ R.code_ruche}}</a></td>
                    <td>{{ R.type_ruche }}</td>
                    <td>{{ R.date_mes }}</td>
                    <td>{{ R.statut_bio }}</td>
                    <td><a href="{% url 'gestruc:ruche_edit' R.id %}"><button type="button" class="btn btn-secondary btn-sm">MODIFIER</button></a></td>
                  </tr>

                {% endfor %}

                </tbody>
              </table>
            </div>

        </div>
      <nav>
        <ul class="nav justify-content-center">
          <li class="nav-item lead"><a class="nav-link" href="{% url 'gestruc:ruche_add' %}"><button type="button" class="btn btn-dark btn-sm">Créer ruche</button></a></li>
          <li class="nav-item lead"><a class="nav-link" href="{% url 'gestruc:ruchers_list' %}"><button type="button" class="btn btn-dark btn-sm">Retour</button></a></li>
        </ul>
      </nav>

{% endblock %}

{% block content1 %}



{% endblock %}
