{% extends 'gestruc/base.html' %}

{% block content %}

  <h2>CREATION D'UNE RUCHE</h2>

  <form method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Enregistrer</button>
    <a href="{% url 'gestruc:ruches' %}">Ignorer</a>


  </form>



{% endblock %}
