{% extends 'gestruc/base.html' %}


          {% block content %}

          <H1> Saisie d'une nouvelle visite </H1>

              <form action="{% url 'gestruc:visite_add' %}" method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type="submit" value="Valider" />
                  <a href="{% url 'gestruc:visites' %}"> <b> annuler </b></a>
              </form>

          {% endblock %}



