
{% extends 'gestruc/base.html' %}

{% block content %}

<h2>liste des visites : </h2><br>

  {% if visites|length_is:"0" %}
    <div class="test-center">
      Nous ne trouvons aucun résultat à cette requête, veuillez essayer de nouveau avec d'autres paramètres de recherche.
    </div>

{% else %}

          <div class="table-responsive-md">
               <table class="table table-striped table-light">
                      <thead class=thead-dark>
                        <tr>
                          <th>#</th>
                          <th>Date visite</th>
                          <th>Code visite</th>
                          <th>Rucher</th>
                        </tr>
                      </thead>


                      <tbody>

                      {% for v in visites %}
                        <tr>
                          <td><a href="{% url 'gestruc:visite_detail' v.id %}">{{ v.id}}</a></td>
                          <td>{{ v.datevis}}</td>
                          <td><a href="{% url 'gestruc:visite_detail' v.id %}">{{ v.ide_visit}}</a></td>
                          <td>{{ v.rucher}}</td>
                        </tr>

                      {% endfor %}

                        </tbody>
               </table>

          </div>

{% endif %}


      <nav>
        <ul class="nav justify-content-center">
          <li class="nav-item lead"><a class="nav-link" href="{% url 'gestruc:visite_add' %}"><button type="button" class="btn btn-dark btn-sm">Nouvelle visite</button></a></li>
          <li class="nav-item lead"><a class="nav-link" href="{% url 'gestruc:interventions' %}"><button type="button" class="btn btn-dark btn-sm">Nouvelle intervention</button></a></li>
        </ul>
      </nav>



{% endblock %}
