/*!
 * Start Bootstrap - Business Casual (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../img/IMG_0378.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: none;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

/*.brand,
.address-bar {
    display: none;
}*/

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    color: #fff;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
    color : red;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.5);
}

/*.container {
  width: 100%;
}*/

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}


.tabulation {
margin-left: 20px;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

/*    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }
*/
    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.7);
    }

    .nav>li>a {
        padding: 35px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

/*  CUSTOM  */
    .brand a {
      color: #fff;
      text-decoration: none;
    }

    .brand a:hover {
      color: #999;
      text-decoration: none;
    }


    .intro-text {
      font-size: 40px;
      font-weight: 300;
    }

/*    .container {
      width: 100%;
    }*/

    .detail-separator {
      padding-bottom: 25px;
    }

    .clearfix {
      padding-bottom: 40px;
    }

    #search_form {
      width: 43%;
      margin: auto;
      text-align: center;
    }

    .form-group.has-feedback .form-control {
      padding: 6px 5px;
      color: red;
    }

    .errorlist {
      margin: 10px auto;
    }

    .errorlist .error {
      color: red;
    }

    /*.navbar-default {
            border: none;
            background: #fff;
            background: rgba(255,255,255,0.7);
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }*/

    #MenuChoix ul
    {
        margin-left: 0;
        padding-left:0;
        white-space: nowrap;
    }

    #MenuChoix ul li
    {
        display: inline;
        list-style-type: none;
    }

    #MenuChoix ul li a
    {
        text-decoration: none;
        padding: 3px 10px;
    }

    #MenuChoix ul li a:link, #MenuChoixul li a:visited
    {
        color:#fff;
        background-color: #6C6
    }

