/*!
 * Start Bootstrap - Business Casual (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
   /* font-family: "DejaVu","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    background: url('../img/IMG_0378.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: none;
 /*   font-family: "DejaVu","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}




.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    /*background: #fff;*/
    background: rgba(255,255,255,0.5);
}

#MenuChoix ul
{
    margin-left: 0;
    padding-left:0;
    white-space: nowrap;
}

#MenuChoix ul li
{
    display: inline;
    list-style-type: none;
}

#MenuChoix ul li a
{
    text-decoration: none;
    padding: 3px 10px;
}

#MenuChoix ul li a:link, #MenuChoixul li a:visited
{
    color:#fff;
    background-color: #6C6
}
